<div class="row d-md-block d-none">
  <div class="col-12">
    <h4 class="text-center">Bienvenue dans votre plateforme de gestion</h4>
  </div>
  <p *ngIf="features.Any | async" class="intro text-center">
    Ce menu vous permet d'accéder rapidement aux principales fonctionnalités de
    la plateforme de gestion des adhérents.
  </p>
</div>

<div class="row">
  <div class="col-12">
    <div class="row mb-4">
      <h3
        class="my-3 col-12 text-center"
        *ngIf="features.ManagementPermissions | async"
      >
        Base des adhésions
      </h3>
      <div class="col-sm-4">
        <a routerLink="/adherents" >
          <div class="configuration-step-link email-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-user-circle"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline">Gestion des adhérents</span>
                  <span class="d-inline d-sm-none">G. adhérents</span>
                  <small class="text-muted d-none d-md-block">
                    Visualisation, modification et suppression des adhérents en
                    utilisant plusieurs critères de recherche.
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <hr class="col-12 m-2" />
      <h3
        class="my-3 col-12 text-center"
        *ngIf="
          (features.ManagementUtilisateurs | async) ||
          (features.ManagementRoles | async)
        "
      >
        Gestion d'accès
      </h3>
      <div class="col-sm-4" *ngIf="features.ManagementUtilisateurs | async">
        <a routerLink="/utilisateurs" >
          <div class="configuration-step-link taxes-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-users"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"> Gestion utilisateurs</span>
                  <span class="d-inline d-sm-none"> Utilisateurs</span>
                  <small class="text-muted d-none d-md-block">
                    Visualisation, affectation de rôles et permissions,
                    modification, suppression, etc.
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4" *ngIf="features.ManagementRoles | async">
        <a routerLink="/roles" >
          <div class="configuration-step-link service-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-unlock-alt"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"> Gestion rôles</span>
                  <span class="d-inline d-sm-none"> Rôles</span>
                  <small class="text-muted d-none d-md-block">
                    Ajout, visualisation, modification, suppression des rôles
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
