<!-- header -->
<app-page-action-header [icon]="'fa fa-balance-scale'" [title]="title" [titleMobile]="titleMobile">
  <ng-container>
    <app-header-action-button buttonClass="{{ ReturnButtonStyle }} me-2"
      title="Revenir à la liste des requêtes d'appel " routerLink="/requetes-appel"
      iconClass="fa fa-arrow-left" label="Retour"></app-header-action-button>

    <app-header-action-button *ngIf="IsCreateOrUpdate" buttonClass="{{ AddOrEditButtonStyle }}"
      title="Enregistrer les données" iconClass="fa fa-save" label="Enregistrer"
      (clicked)="OnSave()"></app-header-action-button>

    <app-header-action-button *ngIf="IsDelete" buttonClass="{{ DeleteButtonStyle }}" title="Supprimer les données"
      iconClass="fa fa-trash" label="Supprimer" (clicked)="OnDelete()"></app-header-action-button>
  </ng-container>
</app-page-action-header>

<form [formGroup]="ReactiveForm">
  <!-- تسجيل العريضة الاستئناف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تسجيل العريضة الاستئناف</h5>
      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCard1" aria-expanded="true" aria-controls="collapseCard1">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>
    <div id="collapseCard1" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- رقم الملف -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="numero_Dossier">رقم الملف</label>
            <input type="text" placeholder="رقم الملف" class="form-control" id="numero_Dossier"
              formControlName="numero_Dossier" />
            <div class="text-danger" *ngIf="
                              ReactiveForm.get('numero_Dossier')?.touched &&
                              ReactiveForm.get('numero_Dossier')?.errors
                          ">
              <div *ngFor="let error of ReactiveForm.get('numero_Dossier')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- طالب الإستئناف -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="appelant">طالب الإستئناف</label>
            <input type="text" placeholder="طالب الإستئناف" class="form-control" id="appelant"
              formControlName="appelant" />
            <div class="text-danger" *ngIf="
                              ReactiveForm.get('appelant')?.touched &&
                              ReactiveForm.get('appelant')?.errors
                          ">
              <div *ngFor="let error of ReactiveForm.get('appelant')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- الحكم المستأنف عدد -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="numero_Jugement_Faisant_Objet_De_Appel">الحكم المستأنف عدد</label>
            <input type="text" placeholder="الحكم المستأنف عدد" class="form-control"
              id="numero_Jugement_Faisant_Objet_De_Appel" formControlName="numero_Jugement_Faisant_Objet_De_Appel" />

            <div class="text-danger" *ngIf="
                              ReactiveForm.get('numero_Jugement_Faisant_Objet_De_Appel')?.touched &&
                              ReactiveForm.get('numero_Jugement_Faisant_Objet_De_Appel')?.errors
                          ">
              <div *ngFor="let error of ReactiveForm.get('numero_Jugement_Faisant_Objet_De_Appel')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- الصادر بتاريخ -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="emis_En_Date_Du">الصادر بتاريخ</label>
            <input type="date" class="form-control" id="emis_En_Date_Du" formControlName="emis_En_Date_Du" />
            <div class="text-danger" *ngIf="
                              ReactiveForm.get('emis_En_Date_Du')?.touched &&
                              ReactiveForm.get('emis_En_Date_Du')?.errors
                          ">
              <div *ngFor="let error of ReactiveForm.get('emis_En_Date_Du')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- المجلس الجهوي للحسابات  -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="idCRC">المجلس الجهوي للحسابات </label>
            <select class="form-control" id="idCRC" formControlName="idCRC">
              <option value="" disabled selected>{{ DefaultSelectOption }}</option>
              <option *ngFor="let crc of CRCs" [value]="crc.id">{{ crc.label }}</option>
            </select>
            <div class="text-danger" *ngIf="
                ReactiveForm.get('idCRC')?.touched &&
                ReactiveForm.get('idCRC')?.errors
                      ">
              <div *ngFor="let error of ReactiveForm.get('idCRC')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- المركز المحاسبي -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="centre_Comptable">المركز المحاسبي</label>
            <input type="text" placeholder="المركز المحاسبي" class="form-control" id="centre_Comptable"
              formControlName="centre_Comptable" />
            <div class="text-danger" *ngIf="
                ReactiveForm.get('centre_Comptable')?.touched &&
                ReactiveForm.get('centre_Comptable')?.errors
                      ">
              <div *ngFor="let error of ReactiveForm.get('centre_Comptable')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- تاريخ تسجيل العريضة بالمجلس الجهوي للحسابات -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Enregistrement_Requete_Cour_Regionale_Des_Comptes">تاريخ تسجيل العريضة بالمجلس
              الجهوي
              للحسابات</label>
            <input type="date" class="form-control" id="date_Enregistrement_Requete_Cour_Regionale_Des_Comptes"
              formControlName="date_Enregistrement_Requete_Cour_Regionale_Des_Comptes" />
            <div class="text-danger" *ngIf="
              ReactiveForm.get('date_Enregistrement_Requete_Cour_Regionale_Des_Comptes')?.touched &&
              ReactiveForm.get('date_Enregistrement_Requete_Cour_Regionale_Des_Comptes')?.errors
                    ">
              <div
                *ngFor="let error of ReactiveForm.get('date_Enregistrement_Requete_Cour_Regionale_Des_Comptes')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>

          <!-- السنة المالية -->
          <div class="col-md-4 form-group my-2">
            <label for="exercice_fiscal">السنة المالية </label>
            <input type="date" id="exercice_fiscal" formControlName="exercice_fiscal" class="form-control" />
            <div class="text-danger" *ngIf="
              ReactiveForm.get('exercice_fiscal')?.touched &&
              ReactiveForm.get('exercice_fiscal')?.errors
                    ">
              <div *ngFor="let error of ReactiveForm.get('exercice_fiscal')?.errors | keyvalue">
                {{ validationMessages[error.key] }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- تعين المستشار -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تعين المستشار</h5>
      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCard2" aria-expanded="true" aria-controls="collapseCard2">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>

    <div id="collapseCard2" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- المستشار المقرر -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="conseiller_Rapporteur">المستشار المقرر</label>
            <input type="text" placeholder="المستشار المقرر" class="form-control" id="conseiller_Rapporteur"
              formControlName="conseiller_Rapporteur" />
          </div>

          <!-- تاريخ  أمر تعيين المستشار المقرر -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Ordonnance_Designation_Conseiller_Rapporteur">تاريخ أمر تعيين المستشار
              المقرر</label>
            <input type="date" class="form-control" id="date_Ordonnance_Designation_Conseiller_Rapporteur"
              formControlName="date_Ordonnance_Designation_Conseiller_Rapporteur" />
          </div>

          <!-- المستشار المقرر الخلف -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="conseiller_Rapporteur_Remplacant">المستشار المقرر الخلف</label>
            <input type="text" placeholder="المستشار المقرر الخلف" class="form-control"
              id="conseiller_Rapporteur_Remplacant" formControlName="conseiller_Rapporteur_Remplacant" />
          </div>

          <!-- تاریخ أمر تعيين المستشار المقرر الخلف -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant">تاریخ أمر تعيين
              المستشار المقرر
              الخلف</label>
            <input type="date" class="form-control" id="date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant"
              formControlName="date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant" />
          </div>

          <!-- تعيين المستشار المراجع -->
          <div class="col-md-4 form-group my-2">
            <label for="designationConseillerReviseur">تعيين المستشار المراجع </label>
            <input type="text" id="designationConseillerReviseur" placeholder="تعيين المستشار المراجع "
              formControlName="designation_du_Conseiller_Reviseur" class="form-control" />
          </div>

          <!-- تاريخ تعيين المستشار المراجع -->
          <div class="col-md-4 form-group my-2">
            <label for="dateDesignationConseillerReviseur">تاريخ تعيين المستشار المراجع</label>
            <input type="date" id="dateDesignationConseillerReviseur"
              formControlName="date_Designation_du_Conseiller_Reviseur" class="form-control" />
          </div>

          <!-- تعيين المستشار المراجع الخلف -->
          <div class="col-md-4 form-group my-2">
            <label for="designationConseillerReviseurRemplacant">تعيين المستشار المراجع الخلف</label>
            <input type="text" id="designationConseillerReviseurRemplacant" placeholder="تعيين المستشار المراجع الخلف"
              formControlName="designation_du_Conseiller_Reviseur_Remplacant" class="form-control" />
          </div>

          <!-- تاريخ تعيين المستشار المراجع الخلف -->
          <div class="col-md-4 form-group my-2">
            <label for="dateDesignationConseillerReviseurRemplacant">تاريخ تعيين المستشار المراجع الخلف</label>
            <input type="date" id="dateDesignationConseillerReviseurRemplacant"
              formControlName="date_Designation_du_Conseiller_Reviseur_Remplacant" class="form-control" />
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- الاطراف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">الاطراف</h5>
      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCard3" aria-expanded="true" aria-controls="collapseCard3">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>

    <div id="collapseCard3" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- تاريخ إرسال العريضة للأطراف -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Envoi_Requete_Parties">تاريخ إرسال العريضة للأطراف</label>
            <input type="date" class="form-control" id="date_Envoi_Requete_Parties"
              formControlName="date_Envoi_Requete_Parties" />
          </div>

          <!-- الأطراف - وكيل الملك لدى المجلس الجهوي للحسابات-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="parties_Agent_du_Roi_au_CRC">وكيل الملك لدى المجلس الجهوي للحسابات</label>
            <input type="text" placeholder="وكيل الملك لدى المجلس الجهوي للحسابات" class="form-control"
              id="parties_Agent_du_Roi_au_CRC" formControlName="parties_Agent_du_Roi_au_CRC" />
          </div>

          <!-- الأطراف - الخازن الإقليمي-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="parties_Entrepot_Regional">الخازن الإقليمي</label>
            <input type="text" placeholder="الخازن الإقليمي" class="form-control" id="parties_Entrepot_Regional"
              formControlName="parties_Entrepot_Regional" />
          </div>

          <!-- الأطراف -  عامل الإقليم-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="parties_Travailleur_du_territoire"> عامل الإقليم</label>
            <input type="text" placeholder=" عامل الإقليم" class="form-control" id="parties_Travailleur_du_territoire"
              formControlName="parties_Travailleur_du_territoire" />
          </div>

          <!-- الأطراف -  رئيس الجماعة-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="parties_President_de_la_Commune"> رئيس الجماعة</label>
            <input type="text" placeholder=" رئيس الجماعة" class="form-control" id="parties_President_de_la_Commune"
              formControlName="parties_President_de_la_Commune" />
          </div>

          <!-- تاريخ توصل الأطراف - وكيل الملك لدى المجلس الجهوي للحسابات-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_de_reception_par_les_parties_Agent_du_Roi_au_CRC">
              تاريخ توصل وكيل الملك لدى المجلس الجهوي للحسابات</label>
            <input type="date" class="form-control" id="date_de_reception_par_les_parties_Agent_du_Roi_au_CRC"
              formControlName="date_de_reception_par_les_parties_Agent_du_Roi_au_CRC" />
          </div>

          <!-- تاريخ توصل الأطراف - الخازن الإقليمي-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_de_reception_par_les_parties_Entrepot_Regional">
              تاريخ توصل الخازن الإقليمي</label>
            <input type="date" class="form-control" id="date_de_reception_par_les_parties_Entrepot_Regional"
              formControlName="date_de_reception_par_les_parties_Entrepot_Regional" />
          </div>

          <!-- تاريخ توصل الأطراف - عامل الإقليمي-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_de_reception_par_les_parties_Travailleur_du_territoire">
              تاريخ توصل عامل الإقليمي</label>
            <input type="date" class="form-control" id="date_de_reception_par_les_parties_Travailleur_du_territoire"
              formControlName="date_de_reception_par_les_parties_Travailleur_du_territoire" />
          </div>

          <!-- تاريخ توصل الأطراف - رئيس الجماعة-->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_de_reception_par_les_parties_President_de_la_Commune">
              تاريخ توصل رئيس الجماعة</label>
            <input type="date" class="form-control" id="date_de_reception_par_les_parties_President_de_la_Commune"
              formControlName="date_de_reception_par_les_parties_President_de_la_Commune" />
          </div>

          <!-- رد على مذكرة الاستئناف - وكيل الملك لدى المجلس الجهوي للحسابات -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC">
              رد على مذكرة الاستئناف وكيل الملك لدى المجلس الجهوي
              للحسابات</label>
            <input type="text" placeholder="رد على مذكرة الاستئناف - وكيل الملك لدى المجلس الجهوي للحسابات"
              class="form-control" id="reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC"
              formControlName="reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC" />
          </div>

          <!-- رد على مذكرة الاستئناف - الخازن الإقليمي -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="reponse_au_memoire_d_appel_Entrepot_Regional">
              رد على مذكرة الاستئناف الخازن الإقليمي</label>
            <input type="text" placeholder="رد على مذكرة الاستئناف - الخازن الإقليمي" class="form-control"
              id="reponse_au_memoire_d_appel_Entrepot_Regional"
              formControlName="reponse_au_memoire_d_appel_Entrepot_Regional" />
          </div>

          <!-- رد على مذكرة الاستئناف - عامل الإقليم -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="reponse_au_memoire_d_appel_Travailleur_du_territoire">
              رد على مذكرة الاستئناف عامل الإقليم</label>
            <input type="text" placeholder="رد على مذكرة الاستئناف - عامل الإقليم" class="form-control"
              id="reponse_au_memoire_d_appel_Travailleur_du_territoire"
              formControlName="reponse_au_memoire_d_appel_Travailleur_du_territoire" />
          </div>

          <!-- رد على مذكرة الاستئناف - رئيس الجماعة -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="reponse_au_memoire_d_appel_President_de_la_Commune">
              رد على مذكرة الاستئناف رئيس الجماعة</label>
            <input type="text" placeholder="رد على مذكرة الاستئناف - رئيس الجماعة" class="form-control"
              id="reponse_au_memoire_d_appel_President_de_la_Commune"
              formControlName="reponse_au_memoire_d_appel_President_de_la_Commune" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- تتبغ الاعريضة الاستئناف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تتبغ الاعريضة الاستئناف</h5>
      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCard4" aria-expanded="true" aria-controls="collapseCard4">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>

    <div id="collapseCard4" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- تاریخ طلب وثائق تكميلية -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Demande_Documents_Supplementaires">تاریخ طلب وثائق تكميلية</label>
            <input type="date" class="form-control" id="date_Demande_Documents_Supplementaires"
              formControlName="date_Demande_Documents_Supplementaires" />
          </div>

          <!-- تاريخ اعداد التقرير -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Preparation_Rapport">تاريخ اعداد التقرير</label>
            <input type="date" class="form-control" id="date_Preparation_Rapport"
              formControlName="date_Preparation_Rapport" />
          </div>

          <!--  تاريخ إحالة الملف على النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Transmission_Dossier_Ministere_Public">
              تاريخ إحالة الملف على النيابة العامة</label>
            <input type="date" class="form-control" id="date_Transmission_Dossier_Ministere_Public"
              formControlName="date_Transmission_Dossier_Ministere_Public" />
          </div>

          <!--  رقم مستنتجات النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="numero_Conclusions_Ministere_Public">
              رقم مستنتجات النيابة العامة</label>
            <input type="text" placeholder="رقم مستنتجات النيابة العامة" class="form-control"
              id="numero_Conclusions_Ministere_Public" formControlName="numero_Conclusions_Ministere_Public" />
          </div>

          <!-- تاریخ  مستنتجات النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="date_Conclusions_Ministere_Public">تاریخ مستنتجات النيابة العامة</label>
            <input type="date" class="form-control" id="date_Conclusions_Ministere_Public"
              formControlName="date_Conclusions_Ministere_Public" />
          </div>

          <!-- تاريخ اعداد راي المستشار المراجع -->
          <div class="col-md-4 form-group my-2">
            <label for="datePreparationAvisExaminateur">تاريخ اعداد راي المستشار المراجع</label>
            <input type="date" id="datePreparationAvisExaminateur"
              formControlName="date_de_preparation_de_l_avis_de_l_examinateur" class="form-control" />
          </div>

          <!-- تاريخ رجوع الملف من النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label for="dateRetourDossierMinisterePublic">تاريخ رجوع الملف من النيابة العامة</label>
            <input type="date" id="dateRetourDossierMinisterePublic"
              formControlName="date_Retour_Dossier_Ministere_Public" class="form-control" />
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- القرار-->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">القرار</h5>
      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCard6" aria-expanded="true" aria-controls="collapseCard6">
        <i class="fa fa-angle-double-up"></i>
      </button>
    </div>
    <div id="collapseCard6" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- منطوق القرار -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="dispositif_Decision">منطوق القرار</label>
            <input type="text" placeholder="منطوق القرار" class="form-control" id="dispositif_Decision"
              formControlName="dispositif_Decision" />
          </div>

          <!-- القرار عدد -->
          <div class="col-md-4 form-group my-2">
            <label class="my-1" for="numero_Decision">القرار عدد</label>
            <input type="text" placeholder="القرار عدد" class="form-control" id="numero_Decision"
              formControlName="numero_Decision" />
          </div>
        </div>
      </div>
    </div>
  </div>

</form>