################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio temporary files, build results, and
# user-specific files

# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore Visual Studio folder
**/.vs/

# Ignore build results for Debug and Release configurations
**/Debug/
**/Release/

# Ignore user-specific files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore others
*.log
*.lock.json
