<!-- header -->
<app-page-action-header
  [icon]="'fa fa-lock'"
  [title]="title"
  [titleMobile]="titleMobile"
>
  <ng-container>
    <app-header-action-button
      buttonClass="{{ ReturnButtonStyle }} me-2"
      title="Revenir à la liste des discipline budgetaires"
      routerLink="/roles"
      iconClass="fa fa-arrow-left"
      label="Retour"
    ></app-header-action-button>

    <app-header-action-button
      *ngIf="IsCreateOrUpdate"
      buttonClass="{{ AddOrEditButtonStyle }}"
      title="Enregistrer les données"
      iconClass="fa fa-save"
      label="Enregistrer"
      (clicked)="OnSave()"
    ></app-header-action-button>

    <app-header-action-button
      *ngIf="IsDelete"
      buttonClass="{{ DeleteButtonStyle }}"
      title="Supprimer les données"
      iconClass="fa fa-trash"
      label="Supprimer"
      (clicked)="OnDelete()"
    ></app-header-action-button>
  </ng-container>
</app-page-action-header>

<form [formGroup]="ReactiveForm">
  <!-- تسجيل العريضة الاستئناف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تسجيل العريضة الاستئناف</h5>
      <button
        class="btn btn-sm btn-outline-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCard1"
        aria-expanded="true"
        aria-controls="collapseCard1"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
    <div id="collapseCard1" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- رقم الملف -->
          <div class="col-md-4 form-group my-2">
            <label for="numero_de_dossier">رقم الملف</label>
            <input
              type="text"
              placeholder="رقم الملف"
              class="form-control"
              id="numero_de_dossier"
              formControlName="numero_de_dossier"
            />
          </div>

          <!-- طالب الإستئناف -->
          <div class="col-md-4 form-group my-2">
            <label for="appelant">طالب الإستئناف</label>
            <input
              type="text"
              placeholder="طالب الإستئناف"
              class="form-control"
              id="appelant"
              formControlName="appelant"
            />
          </div>

          <!-- الحكم المستأنف عدد -->
          <div class="col-md-4 form-group my-2">
            <label for="numero_de_verdict_appelant">الحكم المستأنف عدد</label>
            <input
              type="text"
              placeholder="الحكم المستأنف عدد"
              class="form-control"
              id="numero_de_verdict_appelant"
              formControlName="numero_de_verdict_appelant"
            />
          </div>

          <!-- الصادر بتاريخ -->
          <div class="col-md-4 form-group my-2">
            <label for="publie_le">الصادر بتاريخ</label>
            <input
              type="date"
              class="form-control"
              id="publie_le"
              formControlName="publie_le"
            />
          </div>

          <!-- المجلس الجهوي للحسابات  -->
          <div class="col-md-4 form-group my-2">
            <label for="a_propos_du_CRC_de_la_region"
              >المجلس الجهوي للحسابات
            </label>
            <input
              type="text"
              placeholder="المجلس الجهوي للحسابات "
              class="form-control"
              id="a_propos_du_CRC_de_la_region"
              formControlName="a_propos_du_CRC_de_la_region"
            />
          </div>

          <!-- المركز المحاسبي -->
          <div class="col-md-4 form-group my-2">
            <label for="centre_comptable">المركز المحاسبي</label>
            <input
              type="text"
              placeholder="المركز المحاسبي"
              class="form-control"
              id="centre_comptable"
              formControlName="centre_comptable"
            />
          </div>

          <!-- تاريخ تسجيل العريضة بالمجلس الجهوي للحسابات -->
          <div class="col-md-4 form-group my-2">
            <label for="date_enregistrement_de_la_requete_aupres_du_CRC"
              >تاريخ تسجيل العريضة بالمجلس الجهوي للحسابات</label
            >
            <input
              type="date"
              class="form-control"
              id="date_enregistrement_de_la_requete_aupres_du_CRC"
              formControlName="date_enregistrement_de_la_requete_aupres_du_CRC"
            />
          </div>

          <!-- تاريخ ورقم ملتمس النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label for="date_et_numero_de_la_requete_du_ministere_public"
              >تاريخ ورقم ملتمس النيابة العامة</label
            >
            <input
              type="text"
              placeholder="تاريخ ورقم ملتمس النيابة العامة"
              class="form-control"
              id="date_et_numero_de_la_requete_du_ministere_public"
              formControlName="date_et_numero_de_la_requete_du_ministere_public"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- تعين المستشار -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تعين المستشار</h5>
      <button
        class="btn btn-sm btn-outline-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCard2"
        aria-expanded="true"
        aria-controls="collapseCard2"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>

    <div id="collapseCard2" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- تاريخ ورقم أمر تعيين المستشار المقرر -->
          <div class="col-md-4 form-group my-2">
            <label
              for="date_et_numero_de_ordre_de_nomination_du_conseiller_programme"
              >تاريخ ورقم أمر تعيين المستشار المقرر</label
            >
            <input
              type="text"
              placeholder="تاريخ ورقم أمر تعيين المستشار المقرر"
              class="form-control"
              id="date_et_numero_de_ordre_de_nomination_du_conseiller_programme"
              formControlName="date_et_numero_de_ordre_de_nomination_du_conseiller_programme"
            />
          </div>

          <!-- المستشار المقرر -->
          <div class="col-md-4 form-group my-2">
            <label for="conseiller_rapporteur">المستشار المقرر</label>
            <input
              type="text"
              placeholder="المستشار المقرر"
              class="form-control"
              id="conseiller_rapporteur"
              formControlName="conseiller_rapporteur"
            />
          </div>

          <!-- تاریخ ورقم أمر تعيين المستشار المقرر الخلف -->
          <div class="col-md-4 form-group my-2">
            <label
              for="date_et_numero_de_arrete_designant_le_rapporteur_successeur"
              >تاریخ ورقم أمر تعيين المستشار المقرر الخلف</label
            >
            <input
              type="text"
              placeholder="تاریخ ورقم أمر تعيين المستشار المقرر الخلف"
              class="form-control"
              id="date_et_numero_de_arrete_designant_le_rapporteur_successeur"
              formControlName="date_et_numero_de_arrete_designant_le_rapporteur_successeur"
            />
          </div>

          <!-- المستشار المقرر الخلف -->
          <div class="col-md-4 form-group my-2">
            <label for="conseiller_rapporteur_successeur"
              >المستشار المقرر الخلف</label
            >
            <input
              type="text"
              placeholder="المستشار المقرر الخلف"
              class="form-control"
              id="conseiller_rapporteur_successeur"
              formControlName="conseiller_rapporteur_successeur"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- الاطراف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">الاطراف</h5>
      <button
        class="btn btn-sm btn-outline-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCard3"
        aria-expanded="true"
        aria-controls="collapseCard3"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>

    <div id="collapseCard3" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- تاريخ إرسال العريضة للأطراف -->
          <div class="col-md-4 form-group my-2">
            <label
              for="la_date_a_laquelle_la_petition_a_ete_envoyee_aux_parties"
              >تاريخ إرسال العريضة للأطراف</label
            >
            <input
              type="text"
              placeholder="تاريخ إرسال العريضة للأطراف"
              class="form-control"
              id="la_date_a_laquelle_la_petition_a_ete_envoyee_aux_parties"
              formControlName="la_date_a_laquelle_la_petition_a_ete_envoyee_aux_parties"
            />
          </div>

          <!-- الاطراف -->
          <div class="col-md-4 form-group my-2">
            <label for="parties">الاطراف</label>
            <input
              type="text"
              placeholder="الاطراف"
              class="form-control"
              id="parties"
              formControlName="parties"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- تتبغ الاعريضة الاستئناف -->
  <div class="card my-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">تتبغ الاعريضة الاستئناف</h5>
      <button
        class="btn btn-sm btn-outline-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseCard4"
        aria-expanded="true"
        aria-controls="collapseCard4"
      >
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>

    <div id="collapseCard4" class="collapse show">
      <div class="card-body">
        <div class="row">
          <!-- تاریخ طلب وثائق تكميلية -->
          <div class="col-md-4 form-group my-2">
            <label for="date_de_demande_de_documents_complementaires"
              >تاریخ طلب وثائق تكميلية</label
            >
            <input
              type="date"
              class="form-control"
              id="date_de_demande_de_documents_complementaires"
              formControlName="date_de_demande_de_documents_complementaires"
            />
          </div>

          <!-- تاريخ استدعاء المتابع لحضور جلسة الاستماع-->
          <div class="col-md-4 form-group my-2">
            <label
              for="la_date_a_laquelle_observateur_a_ete_convoque_a_audience"
              >تاريخ استدعاء المتابع لحضور جلسة الاستماع</label
            >
            <input
              type="text"
              placeholder="تاريخ استدعاء المتابع لحضور جلسة الاستماع"
              class="form-control"
              id="la_date_a_laquelle_observateur_a_ete_convoque_a_audience"
              formControlName="la_date_a_laquelle_observateur_a_ete_convoque_a_audience"
            />
          </div>

          <!-- تاريخ إجراء بحث ميداني -->
          <div class="col-md-4 form-group my-2">
            <label for="date_de_realisation_de_la_recherche_sur_le_terrain"
              >تاريخ إجراء بحث ميداني</label
            >
            <input
              type="date"
              class="form-control"
              id="date_de_realisation_de_la_recherche_sur_le_terrain"
              formControlName="date_de_realisation_de_la_recherche_sur_le_terrain"
            />
          </div>

          <!-- تاريخ اعداد التقرير -->
          <div class="col-md-4 form-group my-2">
            <label for="date_a_laquelle_le_rapport_a_ete_prepare"
              >تاريخ اعداد التقرير</label
            >
            <input
              type="date"
              class="form-control"
              id="date_a_laquelle_le_rapport_a_ete_prepare"
              formControlName="date_a_laquelle_le_rapport_a_ete_prepare"
            />
          </div>

          <!--  تاريخ إحالة الملف على النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label
              for="la_date_a_laquelle_le_dossier_a_ete_transmis_au_ministere_public"
            >
              تاريخ إحالة الملف على النيابة العامة</label
            >
            <input
              type="text"
              placeholder=" تاريخ إحالة الملف على النيابة العامة"
              class="form-control"
              id="la_date_a_laquelle_le_dossier_a_ete_transmis_au_ministere_public"
              formControlName="la_date_a_laquelle_le_dossier_a_ete_transmis_au_ministere_public"
            />
          </div>

          <!-- تاریخ و رقم مستنتجات النيابة العامة -->
          <div class="col-md-4 form-group my-2">
            <label for="date_et_numero_des_conclusions_du_ministere_public"
              >تاریخ و رقم مستنتجات النيابة العامة</label
            >
            <input
              type="text"
              placeholder="تاریخ و رقم مستنتجات النيابة العامة"
              class="form-control"
              id="date_et_numero_des_conclusions_du_ministere_public"
              formControlName="date_et_numero_des_conclusions_du_ministere_public"
            />
          </div>

          <!-- تاريخ توصل المتابع بالاستدعاء لأجل الإطلاع -->
          <div class="col-md-4 form-group my-2">
            <label for="date_et_numero_des_conclusions_du_parquet"
              >تاريخ توصل المتابع بالاستدعاء لأجل الإطلاع</label
            >
            <input
              type="text"
              placeholder="تاريخ توصل المتابع بالاستدعاء لأجل الإطلاع"
              class="form-control"
              id="date_et_numero_des_conclusions_du_parquet"
              formControlName="date_et_numero_des_conclusions_du_parquet"
            />
          </div>

          <!-- تاريخ توصل المحامي بالاستدعاء لأجل الإطلاع -->
          <div class="col-md-4 form-group my-2">
            <label
              for="date_a_laquelle_le_suiveur_a_reçu_la_convocation_pour_inspection"
              >تاريخ توصل المحامي بالاستدعاء لأجل الإطلاع</label
            >
            <input
              type="text"
              placeholder="تاريخ توصل المحامي بالاستدعاء لأجل الإطلاع"
              class="form-control"
              id="date_a_laquelle_le_suiveur_a_reçu_la_convocation_pour_inspection"
              formControlName="date_a_laquelle_le_suiveur_a_reçu_la_convocation_pour_inspection"
            />
          </div>

          <!-- تاريخ إطلاع المتابع -->
          <div class="col-md-4 form-group my-2">
            <label
              for="date_a_laquelle_avocat_a_recu_la_convocation_pour_inspection"
              >تاريخ إطلاع المتابع</label
            >
            <input
              type="text"
              placeholder="تاريخ إطلاع المتابع"
              class="form-control"
              id="date_a_laquelle_avocat_a_recu_la_convocation_pour_inspection"
              formControlName="date_a_laquelle_avocat_a_recu_la_convocation_pour_inspection"
            />
          </div>

          <!-- تاريخ إطلاع المحامي -->
          <div class="col-md-4 form-group my-2">
            <label for="date_a_laquelle_le_suiveur_a_ete_informe"
              >تاريخ إطلاع المحامي</label
            >
            <input
              type="text"
              placeholder="تاريخ إطلاع المحامي"
              class="form-control"
              id="date_a_laquelle_le_suiveur_a_ete_informe"
              formControlName="date_a_laquelle_le_suiveur_a_ete_informe"
            />
          </div>

          <!-- تاريخ رجوع الملف من كتابة الضبط المركزي -->
          <div class="col-md-4 form-group my-2">
            <label for="date_a_laquelle_avocat_a_ete_informe"
              >تاريخ رجوع الملف من كتابة الضبط المركزي</label
            >
            <input
              type="text"
              placeholder="تاريخ رجوع الملف من كتابة الضبط المركزي"
              class="form-control"
              id="date_a_laquelle_avocat_a_ete_informe"
              formControlName="date_a_laquelle_avocat_a_ete_informe"
            />
          </div>

          <!-- استدعاء المتابع والمحامي لحضور جلسة الحكم -->
          <div class="col-md-4 form-group my-2">
            <label
              for="date_a_laquelle_le_dossier_a_ete_renvoye_par_le_bureau_central_de_controle"
              >استدعاء المتابع والمحامي لحضور جلسة الحكم</label
            >
            <input
              type="text"
              placeholder="استدعاء المتابع والمحامي لحضور جلسة الحكم"
              class="form-control"
              id="date_a_laquelle_le_dossier_a_ete_renvoye_par_le_bureau_central_de_controle"
              formControlName="date_a_laquelle_le_dossier_a_ete_renvoye_par_le_bureau_central_de_controle"
            />
          </div>

          <!-- تاريخ جلسة الحكم -->
          <div class="col-md-4 form-group my-2">
            <label
              for="convoquer_observateur_et_avocat_pour_assister_a_audience_de_determination_de_la_peine"
              >تاريخ جلسة الحكم</label
            >
            <input
              type="text"
              placeholder="تاريخ جلسة الحكم"
              class="form-control"
              id="convoquer_observateur_et_avocat_pour_assister_a_audience_de_determination_de_la_peine"
              formControlName="convoquer_observateur_et_avocat_pour_assister_a_audience_de_determination_de_la_peine"
            />
          </div>

          <!-- استدعاء المتابع والمحامي لحضور جلسة النطق بالحكم -->
          <div class="col-md-4 form-group my-2">
            <label for="date_audience_du_jugement"
              >استدعاء المتابع والمحامي لحضور جلسة النطق بالحكم</label
            >
            <input
              type="date"
              class="form-control"
              id="date_audience_du_jugement"
              formControlName="date_audience_du_jugement"
            />
          </div>

          <!-- تاریخ جلسة النطق بالحكم -->
          <div class="col-md-4 form-group my-2">
            <label for="date_de_audience_de_determination_de_la_peine"
              >تاریخ جلسة النطق بالحكم</label
            >
            <input
              type="date"
              class="form-control"
              id="date_de_audience_de_determination_de_la_peine"
              formControlName="date_de_audience_de_determination_de_la_peine"
            />
          </div>

          <!-- منطوق القرار -->
          <div class="col-md-4 form-group my-2">
            <label for="operateur_de_decision">منطوق القرار</label>
            <input
              type="text"
              placeholder="منطوق القرار"
              class="form-control"
              id="operateur_de_decision"
              formControlName="operateur_de_decision"
            />
          </div>

          <!-- القرار عدد -->
          <div class="col-md-4 form-group my-2">
            <label for="numero_de_resolution">القرار عدد</label>
            <input
              type="text"
              placeholder="القرار عدد"
              class="form-control"
              id="numero_de_resolution"
              formControlName="numero_de_resolution"
            />
          </div>

          <!-- تاريخ إرسال القرار قصد التبليغ للأطراف -->
          <div class="col-md-4 form-group my-2">
            <label
              for="la_date_a_laquelle_la_decision_a_ete_envoyee_pour_notification_aux_parties"
              >تاريخ إرسال القرار قصد التبليغ للأطراف</label
            >
            <input
              type="text"
              placeholder="تاريخ إرسال القرار قصد التبليغ للأطراف"
              class="form-control"
              id="la_date_a_laquelle_la_decision_a_ete_envoyee_pour_notification_aux_parties"
              formControlName="la_date_a_laquelle_la_decision_a_ete_envoyee_pour_notification_aux_parties"
            />
          </div>

          <!-- تاريخ توصل المحاسب بنسخة من القرار -->
          <div class="col-md-4 form-group my-2">
            <label for="note_de_rappel">تاريخ توصل المحاسب بنسخة من القرار</label>
            <input
              type="text"
              placeholder="تاريخ توصل المحاسب بنسخة من القرار"
              class="form-control"
              id="note_de_rappel"
              formControlName="note_de_rappel"
            />
          </div>
          
        </div>
      </div>
    </div>
  </div>
</form>
