<!-- Sidebar -->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <!-- <c-sidebar-brand
    [brandFull]="{
      src: '../../../assets/images/CDC_PNG.png',
      width: 50,
      height: 50,
      alt: 'Cour des comptes Logo'
    }"
    [brandNarrow]="{
      src: '../../../assets/images/CDC_PNG.png',
      width: 50,
      height: 50,
      alt: 'Cour des comptes Logo'
    }"
    routerLink="accueil"
  /> -->

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close" />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!-- Main -->
<div class="wrapper d-flex flex-column min-vh-100">
  <!-- App Header -->
  <app-default-header
    class="mb-4 d-print-none header header-sticky"
    position="sticky"
    sidebarId="sidebar"
  />

  <!-- App Body -->
  <div class="body flex-grow-1 px-3">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- App Footer -->
  <app-default-footer />
</div>
