<div class="row d-md-block d-none">
  <div class="col-12">
    <h3 class="text-center">Bienvenue dans votre plateforme de gestion</h3>
  </div>
  <p class="intro text-center">
    Ce menu vous permet d'accéder rapidement aux principales fonctionnalités de
    la plateforme de gestion de chamber d'appel.
  </p>
</div>

<div class="container-fluid mb-5">
  <div id="exTab2" class="container-fluid">
    <ul class="nav nav-tabs">
      <li [class]="showDashboard ? 'active' : ''" (click)="toggleTabs()">
        <span [class]="showDashboard ? 'btn btn-sm btn-primary' : 'btn btn-sm'">
          <i class="fa fa-solid fa-star"></i>
          Menus
        </span>
      </li>
      <li [class]="showDashboard ? '' : 'active'" (click)="toggleTabs()">
        <span [class]="showDashboard ? 'btn btn-sm' : 'btn btn-sm btn-primary'">
          <i class="fa fa-solid fa-star"></i>
          Tableaux de bord
        </span>
      </li>
    </ul>
    <div class="tab-content">
      <div [class]="showDashboard ? 'tab-pane' : 'tab-pane active'">
        <app-statistique></app-statistique>
      </div>
      <div [class]="showDashboard ? 'tab-pane active' : 'tab-pane'">
        <app-menu></app-menu>
      </div>
    </div>
  </div>
</div>