<div class="row d-md-block d-none">
  <div class="col-12">
    <h3 class="text-center">Bienvenue dans votre plateforme de gestion</h3>
  </div>
  <p class="intro text-center">
    Ce menu vous permet d'accéder rapidement aux principales fonctionnalités de
    la plateforme de gestion de chamber d'appel.
  </p>
</div>

<div class="row my-2">
  <div class="col-12">
    <h4 class="my-3 text-center">Gestion d'accès</h4>
  </div>
  <hr class="col-12 m-2" />
  <div class="col-md-4 mb-3">
    <a routerLink="/utilisateurs">
      <div class="configuration-step-link taxes-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion utilisateurs</span>
              <span class="d-inline d-sm-none">Utilisateurs</span>
              <small class="text-muted d-none d-md-block">
                Visualisation, affectation de rôles et permissions,
                modification, suppression, etc.
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/permissions">
      <div class="configuration-step-link email-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-lock"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion des permissions</span>
              <span class="d-inline d-sm-none">G. permissions</span>
              <small class="text-muted d-none d-md-block">
                Visualisation, modification et suppression des permissions en
                utilisant plusieurs critères de recherche.
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/roles">
      <div class="configuration-step-link service-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-unlock-alt"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion rôles</span>
              <span class="d-inline d-sm-none">Rôles</span>
              <small class="text-muted d-none d-md-block">
                Ajout, visualisation, modification, suppression des rôles
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row my-2">
  <div class="col-12">
    <h4 class="my-3 text-center">Gestion des Requêtes et Disciplines</h4>
  </div>
  <hr class="col-12 m-2" />
  <div class="col-md-4 mb-3">
    <a routerLink="/requetes-appel">
      <div class="configuration-step-link taxes-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion Requêtes d'appel</span>
              <span class="d-inline d-sm-none">G. Requêtes d'appel</span>
              <small class="text-muted d-none d-md-block">
                Visualisation, Ajout , modification, suppression en utilisant plusieurs critères de recherche.
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/discipline-budgetaires">
      <div class="configuration-step-link email-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-lock"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion des disciplines budgetaires </span>
              <span class="d-inline d-sm-none">G. des disciplines budgetaires</span>
              <small class="text-muted d-none d-md-block">
                Visualisation, modification et suppression des permissions en
                utilisant plusieurs critères de recherche.
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/discipline-budgetaires-importe">
      <div class="configuration-step-link service-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-unlock-alt"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Importer les disciplines budgetaires</span>
              <span class="d-inline d-sm-none">Imp. les disciplines budgetaires</span>
              <small class="text-muted d-none d-md-block">
                Importer les disciplines budgetaires avec plusieurs étapes
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 mb-3">
    <a routerLink="/requetes-appel-importe">
      <div class="configuration-step-link service-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-unlock-alt"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Importer les requetes appel </span>
              <span class="d-inline d-sm-none">Imp. les requetes appel </span>
              <small class="text-muted d-none d-md-block">
                Importer les requetes appel avec plusieurs étapes
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row my-2">
  <div class="col-12">
    <h4 class="my-3 text-center">Référentielles</h4>
  </div>
  <hr class="col-12 m-2" />
  <div class="col-md-4 mb-3">
    <a routerLink="/#">
      <div class="configuration-step-link taxes-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion des CRC</span>
              <span class="d-inline d-sm-none">G. des CRC</span>
              <small class="text-muted d-none d-md-block">
                Ajout, visualisation, modification, suppression
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/#">
      <div class="configuration-step-link email-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-lock"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion des Grades</span>
              <span class="d-inline d-sm-none">G. des Grades </span>
              <small class="text-muted d-none d-md-block">
                Ajout, visualisation, modification, suppression
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/#">
      <div class="configuration-step-link service-step">
        <div class="row">
          <div class="col-12 col-xl-3 d-flex align-items-center justify-content-center">
            <div class="configuration-step-icon">
              <i class="fa fa-unlock-alt"></i>
            </div>
          </div>
          <div class="col-12 col-xl-9 d-flex align-items-center justify-content-center">
            <h5>
              <span class="d-none d-sm-inline">Gestion des type utilisateurs</span>
              <span class="d-inline d-sm-none">G. des type utilisateurs</span>
              <small class="text-muted d-none d-md-block">
                Ajout, visualisation, modification, suppression
              </small>
            </h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>