/* CONFIGURATION STEPS */
.configuration-steps h4 {
    text-align: center;
    font-size: 34px;
  }
  
  .configuration-steps p.intro {
    font-size: 21px;
    line-height: 30px;
    font-weight: 300;
    margin: 10px 0 30px 0;
    padding: 0 65px;
  }
  
  .configuration-step-link {
    padding: 10px 0;
    border-radius: 3px;
    display: block;
    position: relative;
    height: 100%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  
  .configuration-step-link:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .configuration-step-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 0;
    border-radius: 5px;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .configuration-step-link:hover:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 1px;
  }
  
  .configuration-step-link h5 {
    line-height: 22px;
    padding: 3px 5px 0 5px;
    margin-bottom: 0;
    font-size: 22px;
    color: #000000;
  }
  
  .configuration-step-link small {
    margin-top: 8px;
    display: block;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 4px;
  }
  
  .configuration-step-icon {
    border-radius: 50px;
    font-size: 38px;
    color: #ffffff !important;
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 10px 0;
    float: right;
    display: table;
  }
  
  .configuration-step-icon i {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    padding-right: 0 !important;
  }
  
  .import-step .configuration-step-icon {
    background-color: #37a350;
  }
  
  .store-info-step .configuration-step-icon {
    background-color: #824c71;
  }
  
  .shipping-step .configuration-step-icon {
    background-color: #ba5c12;
  }
  
  .payments-step .configuration-step-icon {
    background-color: #ff7f11;
  }
  
  .taxes-step .configuration-step-icon {
    background-color: #b76d68;
  }
  
  .email-step .configuration-step-icon {
    background-color: #1b9aaa;
  }
  
  .email-step .configuration-step-icon {
    background-color: #140d4f;
  }
  
  .service-step .configuration-step-icon {
    background-color: #64b650;
  }
  
  .copyright-step .configuration-step-icon {
    background-color: #3d3b30;
  }
  
a{
  text-decoration: none;
}