<div class="row">
    <!-- alert -->
    <div class="col-md-12">
        <div class="alert alert-success text-center" role="alert">
            <i class="fa fa-check-circle"></i>
            Veuillez Confirmer que vous voulez fusionner le fichier importé
        </div>
    </div>

    <!-- button -->
    <div class="col-md-12 text-end">
        <button class="btn btn-sm btn-primary me-1" (click)="Previous()">
            <i class="fa fa-arrow-left"></i> Précédent
        </button>
        <button class="btn btn-sm btn-success" (click)="Confirmer()">
            <i class="fa fa-check-circle"></i> Confirmer
        </button>
    </div>
</div>