<div class="row d-md-block d-none">
  <div class="col-12">
    <h4 class="text-center">Bienvenue dans votre plateforme de gestion</h4>
  </div>
  <p class="intro text-center">
    Ce menu vous permet d'accéder rapidement aux principales fonctionnalités de
    la plateforme de gestion chamber d'appel.
  </p>
</div>

<div class="row">
  <div class="col-12">
    <div class="row mb-4">
      <h3 class="my-3 col-12 text-center">Base de chamber d'appel</h3>
      <div class="col-sm-4">
        <a routerLink="/#">
          <div class="configuration-step-link email-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-users"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"
                    >Gestion chamber d'appel</span
                  >
                  <span class="d-inline d-sm-none">Chamber d'appel</span>
                  <small class="text-muted d-none d-md-block">
                    Visualisation, modification et suppression des chamber
                    d'appel en utilisant plusieurs critères de recherche.
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/#">
          <div class="configuration-step-link import-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-download"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"
                    >Importation chamber d'appel</span
                  >
                  <span class="d-inline d-sm-none">Imp. chamber d'appel</span>
                  <small class="text-muted d-none d-md-block">
                    Importation de données des chamber d'appel depuis un fichier
                    Excel
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <hr class="col-12 m-2" />
      <h3 class="my-3 col-12 text-center">Gestion d'accès</h3>
      <div class="col-sm-4">
        <a routerLink="/utilisateurs">
          <div class="configuration-step-link taxes-step">
            <div class="row">
              <div
                class="col-12 col-xl-4 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-users"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-8 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"> Gestion utilisateurs</span>
                  <span class="d-inline d-sm-none"> Utilisateurs</span>
                  <small class="text-muted d-none d-md-block">
                    Visualisation, affectation de rôles et permissions,
                    modification, suppression, etc.
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/permissions">
          <div class="configuration-step-link email-step">
            <div class="row">
              <div
                class="col-12 col-xl-4 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-unlock-alt"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-8 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"> Gestion permissions</span>
                  <span class="d-inline d-sm-none"> Permissions</span>
                  <small class="text-muted d-none d-md-block">
                    Ajout, visualisation, modification, affectation et
                    suppression des permissions
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a routerLink="/roles" style="text-decoration: none">
          <div class="configuration-step-link service-step">
            <div class="row">
              <div
                class="col-12 col-xl-3 d-flex align-items-center justify-content-center"
              >
                <div class="configuration-step-icon">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <div
                class="col-12 col-xl-9 d-flex align-items-center justify-content-center"
              >
                <h5>
                  <span class="d-none d-sm-inline"> Gestion rôles</span>
                  <span class="d-inline d-sm-none"> Rôles</span>
                  <small class="text-muted d-none d-md-block">
                    Ajout, visualisation, modification, suppression des rôles
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
