<!-- header -->
<app-page-action-header [icon]="'fa fa-users'" [title]="'Gestion des utilisateurs'"
  [titleMobile]="'Gt. des utilisateurs'">
  <ng-container>
    <app-header-action-button buttonClass="{{ExporterButtonStyle}} me-2" title="Exporter les utilisateurs"
      iconClass="fa fa-file-excel-o" label="Exporter" (clicked)="Exporter()"></app-header-action-button>
    <app-header-action-button buttonClass="{{CreateButtonStyle}}" title="Ajouter un utilisateur"
      routerLink="/utilisateurs/ajouter" iconClass="fa fa-plus" label="Ajouter"></app-header-action-button>
  </ng-container>
</app-page-action-header>

<!-- filter -->
<div class="card">
  <div class="card-body">
    <form [formGroup]="FilterForm" (submit)="ApplyFilter()">
      <div class="row">
        <div class="col form-group">
          <label for="motsCle">Mot clé</label>
          <input type="text" class="form-control" id="motsCle" placeholder="mot clé" formControlName="motsCle" autofocus
            tabindex="1" autocomplete="off" />
        </div>
        <div class="col mt-4">
          <div class="d-flex justify-content-between">
            <div class="flex-grow-1">
              <button tabindex="10" type="submit" class="{{SearchButtonStyle}} w-100" title="Lancer la recherche">
                <i class="fa fa-search"></i>
                <span class="d-none d-sm-inline"> Rechercher</span>
              </button>
            </div>
            <div class="d-flex">
              <button tabindex="10" type="button" class="btn btn-primary col-xs-3 mx-1" (click)="toggleShowDetails()"
                title="Afficher ou masquer la recherche avancée">
                <i *ngIf="!showDetails" class="btn-details-toggle fa fa-solid fa-chevron-down"></i>
                <i *ngIf="showDetails" class="btn-details-toggle fa fa-solid fa-chevron-up"></i>
              </button>
              <button tabindex="11" *ngIf="FilterForm.dirty" type="button" class="btn btn-warning col-xs-3"
                title="Réinitialiser les filtres" (click)="resetForm()">
                x
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showDetails" [@fadeInOnEnter] [@fadeOutOnLeave] class="row my-2">
        <div class="col-md-6 form-group">
          <label for="nomComplete">Nom et prénom</label>
          <input type="text" class="form-control" id="nomComplete" placeholder="Nom et prénom"
            formControlName="nomComplete" tabindex="2" />
        </div>
        <div class="col-md-6 form-group">
          <label for="email" class="">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Adresse email" formControlName="email"
            tabindex="4" />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- table -->
<div class="card my-3">
  <div class="card-body">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center my-5" *ngIf="pageStatus == 'noData'">
        <app-table-no-data></app-table-no-data>
      </div>
      <div class="d-flex align-items-center justify-content-center my-5" *ngIf="pageStatus == 'loading'">
        <app-table-loading></app-table-loading>
      </div>
      <div class="d-flex align-items-center justify-content-center my-5" *ngIf="pageStatus == 'error'">
        <app-table-error [retry]="true" (errorEvent)="ApplyFilter()"></app-table-error>
      </div>
    </div>
  </div>
  <div class="card-body" [ngStyle]="{ display: pageStatus == 'loaded' ? 'block' : 'none' }">
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table class="table table-striped table-bordered text-center" width="100%" matSort
          (matSortChange)="OnSortChange($event)">
          <thead>
            <tr>
              <th class="text-start" mat-sort-header="Nom">Nom</th>
              <th class="text-start" mat-sort-header="Prenom">Prénom</th>
              <th class="text-start" mat-sort-header="Email">Email</th>
              <th class="text-start" mat-sort-header="Login">Login</th>
              <th class="text-end" style="min-width: 160px; max-width: 160px"></th>
            </tr>
          </thead>
          <tbody class="table-responsive" *ngIf="RecordTotal != 0">
            <tr *ngFor="let item of Users">
              <td class="text-start">{{ item.nom }}</td>
              <td class="text-start">{{ item.prenom }}</td>
              <td class="text-start">{{ item.email }}</td>
              <td class="text-start">{{ item.login }}</td>
              <td class="text-end">
                <a routerLink="/utilisateurs/detail/{{ item.id }}" class="{{DetailButtonStyle}}"
                  title="Détail de l'utilisateur"><i class="fa fa-eye"> </i></a>
                <a routerLink="/utilisateurs/modifier/{{ item.id }}" class="{{UpdateButtonStyle}} mx-1"
                  title="Modifier l'utilisateur"><i class="fa fa-edit"> </i></a>
                <a routerLink="/utilisateurs/roles-permissions/{{ item.id }}" class="{{DefaultButtnStyle}}"
                  title="Rôles et permissions de l'utilisateur">
                  <i class="fa fa-lock"></i>
                </a>
                <a routerLink="/utilisateurs/supprimer/{{ item.id }}" class="{{DeleteButtonStyle}} mx-1"
                  title="Supprimer l'utilisateur">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-2">
      <ngb-pagination class="col d-flex justify-content-center" [collectionSize]="RecordFiltred" [pageSize]="pageSize"
        [page]="pageNumber" [maxSize]="5" (pageChange)="OnPageNumberChange($event)"></ngb-pagination>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="!selectionPageSize">
      <div class="col-auto" *ngIf="RecordFiltred != RecordTotal">
        {{ RecordFiltred }} / <b> {{ RecordTotal }} </b> éléments
      </div>
      <div class="col-auto" *ngIf="RecordFiltred == RecordTotal">
        <b> {{ RecordTotal }} </b> éléments
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="selectionPageSize">
      <div class="col-auto">Afficher</div>
      <div class="col-auto">
        <select class="form-select form-control-sm" name="pageSize" [(ngModel)]="pageSize"
          (ngModelChange)="OnPageSizeChange($event)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>
      <span class="col-auto">de <b> {{ RecordFiltred }} </b> elements</span>
    </div>
  </div>
</div>

<!-- loader -->
<ngx-spinner type="line-spin-fade">
  <p class="text-light">Chargement en cours...</p>
</ngx-spinner>