<form [formGroup]="Reactiveform" class="container-fluid">
  <!-- header -->
  <app-page-action-header [icon]="'fa fa-unlock-alt'" [title]="'Modifier un rôle'" [titleMobile]="'Mdf. rôle'">
    <ng-container>
      <app-header-action-button *ngIf="features.Edit | async" buttonClass="btn-primary me-2" title="Enregistrer les données" iconClass="fa fa-save" label="Enregistrer" (clicked)="Save()"></app-header-action-button>
      <app-header-action-button buttonClass="btn-secondary" title="Revenir à la liste des rôles" routerLink="/roles" iconClass="fa fa-arrow-left" label="Retour"></app-header-action-button>
    </ng-container>
  </app-page-action-header>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 form-group my-2">
          <label for="Label">Label</label>
          <input type="text" placeholder="Label" class="form-control" id="Label" formControlName="label" />
          <div class="text-danger" *ngIf="Reactiveform.get('label')?.touched && Reactiveform.get('label')?.errors">
            <div *ngFor="let error of Reactiveform.get('label')?.errors | keyvalue">
              {{ validationMessages[error.key] }}
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group my-2">
          <label for="Code">Code</label>
          <input type="text" placeholder="Code" class="form-control" id="Code" formControlName="code" />
          <div class="text-danger" *ngIf="Reactiveform.get('code')?.touched && Reactiveform.get('code')?.errors">
            <div *ngFor="let error of Reactiveform.get('code')?.errors | keyvalue">
              {{ validationMessages[error.key] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- loader -->
<ngx-spinner type="line-spin-fade"><p class="text-light">Chargement en cours...</p></ngx-spinner>
