<div class="min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <div class="my-3 text-center">
                <img src="../../../assets/images/logoarfr.jpg" alt="Logo" class="w-50" />
              </div>
              <form cForm [formGroup]="ReactiveForm" (ngSubmit)="Submit()">
                <div class="text-center my-3">
                  <h3>Réinitialiser votre mot de passe</h3>
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl type="password" placeholder="Nouveau Mot de passe" formControlName="newPassword" autofocus />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input cFormControl placeholder="Confirm Nouveau Mot de passe" type="password" formControlName="confirmnewpassword" />
                </c-input-group>
                <div class="text-danger" *ngIf="ReactiveForm.get('confirmnewpassword')?.touched && ReactiveForm.get('confirmnewpassword')?.errors">
                  <div *ngFor="let error of ReactiveForm.get('confirmnewpassword')?.errors | keyvalue">
                    {{ validationMessages[error.key] }}
                  </div>
                </div>
                <div class="text-danger" *ngIf="ReactiveForm.get('newPassword')?.touched && ReactiveForm.get('newPassword')?.errors">
                  <div *ngFor="let error of ReactiveForm.get('newPassword')?.errors | keyvalue">
                    {{ validationMessages[error.key] }}
                  </div>
                </div>
                <div class="col-12 from-group">
                  Le nouveau mot de passe doit respecter les règles suivantes :
                  <ul>
                    <li [class]="ReactiveForm.get('newPassword')?.hasError('minlength') ? 'text-danger' : 'text-success'">Longueur supérieur à 8 characters</li>
                    <li [class]="ReactiveForm.get('newPassword')?.hasError('digitCount') ? 'text-danger' : 'text-success'">Contient deux chiffres ou plus</li>
                    <li [class]="ReactiveForm.get('newPassword')?.hasError('specialCharCount') ? 'text-danger' : 'text-success'">Contient deux characters spéciaux ou plus</li>
                    <li [class]="ReactiveForm.get('newPassword')?.hasError('lowercaseChar') ? 'text-danger' : 'text-success'">Contient deux characters miniscule</li>
                    <li [class]="ReactiveForm.get('newPassword')?.hasError('uppercaseChar') ? 'text-danger' : 'text-success'">Contient deux characters majuscule</li>
                  </ul>
                </div>
                <c-row class="my-2">
                  <c-col xs="6">
                    <button cButton class="px-4" type="submit" [disabled]="!ReactiveForm.valid" color="primary"> Réinitialiser </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
