<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container-md">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="card-group">
          <div class="card bg-danger p-4">
            <div class="card-body">
              <form [formGroup]="ReactiveForm">
                <div class="text-center">
                  <h1 class="fw-bold">Login</h1>
                  <p class="text-body-secondary">Identifiez-vous</p>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                  <input type="text" class="form-control" formControlName="login" placeholder="Login" autofocus />
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-text">
                    <i class="fa fa-key"></i>
                  </span>
                  <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" />
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="button" class="btn btn-dark w-100" [disabled]="this.ReactiveForm.valid"
                      (click)="Login()">
                      <i class="fa fa-sign-in"></i> &nbsp; Se connecter
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card py-3">
            <div class="card-body text-center">
              <img src="../../../../assets/images/courdescomptes.png" alt="Cour des comptes" width="150" height="150">
              <p class="text-justify mt-2">
                Bonjour et bienvenue sur l'application de gestion de la Chambre d'appel de la Cour des comptes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>