<!-- header -->
<app-page-action-header
  [icon]="'fa fa-balance-scale'"
  [title]="'Gestion des discipline budgetaires'"
  [titleMobile]="'G. des discipline budgetaires'"
>
  <ng-container>
    <app-header-action-button
      buttonClass="{{ ExporterButtonStyle }} me-2"
      title="Exporter les discipline budgetaires"
      iconClass="fa fa-file-excel-o"
      label="Exporter"
      (clicked)="Exporter()"
    ></app-header-action-button>
    <app-header-action-button
      buttonClass="{{ ImporterButtonStyle }} me-2"
      title="Importer les discipline budgetaires"
      iconClass="fa fa-download"
      routerLink="/discipline-budgetaires/importer"
      label="Importer"
    ></app-header-action-button>
    <app-header-action-button
      buttonClass="{{ CreateButtonStyle }}"
      title="Ajouter un discipline budgetaire"
      routerLink="/discipline-budgetaires/ajouter"
      iconClass="fa fa-plus"
      label="Ajouter"
    ></app-header-action-button>
  </ng-container>
</app-page-action-header>

<!-- filter -->
<div class="card">
  <div class="card-body">
    <form [formGroup]="FilterForm" (submit)="ApplyFilter()">
      <div class="row">
        <div class="col form-group">
          <label for="motsCle">Mot clé</label>
          <input
            type="text"
            class="form-control"
            id="motsCle"
            placeholder="mot clé"
            formControlName="motsCle"
            autofocus
            tabindex="1"
            autocomplete="off"
          />
        </div>
        <div class="col mt-4">
          <div class="d-flex justify-content-between">
            <div class="flex-grow-1">
              <button
                tabindex="2"
                type="submit"
                class="{{ SearchButtonStyle }} w-100"
                title="Lancer la recherche"
              >
                <i class="fa fa-search"></i>
                <span class="d-none d-sm-inline"> Rechercher</span>
              </button>
            </div>
            <div class="d-flex">
              <button
                tabindex="3"
                type="button"
                class="btn btn-primary col-xs-3 mx-1"
                (click)="toggleShowDetails()"
                title="Afficher ou masquer la recherche avancée"
              >
                <i
                  *ngIf="!showDetails"
                  class="btn-details-toggle fa fa-solid fa-chevron-down"
                ></i>
                <i
                  *ngIf="showDetails"
                  class="btn-details-toggle fa fa-solid fa-chevron-up"
                ></i>
              </button>
              <button
                tabindex="4"
                *ngIf="FilterForm.dirty"
                type="button"
                class="btn btn-warning col-xs-3"
                title="Réinitialiser les filtres"
                (click)="resetForm()"
              >
                x
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="showDetails"
        [@fadeInOnEnter]
        [@fadeOutOnLeave]
        class="row my-2"
      >
        <div class="col-md-4 form-group">
          <label for="numero_Dossier">Numéro de dossier</label>
          <input
            type="text"
            class="form-control"
            id="numero_Dossier"
            placeholder="Numéro de dossier"
            formControlName="numero_Dossier"
            tabindex="5"
          />
        </div>

        <div class="col-md-4 form-group">
          <label for="appelant">Appelant</label>
          <input
            type="text"
            class="form-control"
            id="appelant"
            placeholder="Appelant"
            formControlName="appelant"
            tabindex="6"
          />
        </div>

        <div class="col-md-4 form-group">
          <label for="idCRC">CRCs</label>
          <select
            class="form-control"
            id="idCRC"
            formControlName="idCRC"
            tabindex="7"
          >
            <option [value]="null" disabled>{{ DefaultSelectOption }}</option>
            <option *ngFor="let crc of CRCs" [value]="crc.id">
              {{ crc.label }}
            </option>
          </select>
        </div>

        <div class="col-md-4 form-group">
          <label for="centre_Comptable">Centre comptable</label>
          <input
            type="text"
            class="form-control"
            id="centre_Comptable"
            placeholder="Centre comptable"
            formControlName="centre_Comptable"
            tabindex="8"
          />
        </div>

        <div class="col-md-4 form-group">
          <label for="emis_En_Date_Du">Emis En Date Du</label>
          <input
            type="date"
            class="form-control"
            id="emis_En_Date_Du"
            placeholder="emis_En_Date_Du"
            formControlName="emis_En_Date_Du"
            tabindex="9"
          />
        </div>

        <div class="col-md-4 form-group">
          <label for="conseiller_Rapporteur">Conseiller rapporteur</label>
          <input
            type="text"
            class="form-control"
            id="conseiller_Rapporteur"
            placeholder="conseiller apporteur"
            formControlName="conseiller_Rapporteur"
            tabindex="10"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- table -->
<div class="card my-3">
  <div class="card-body">
    <div class="row">
      <div
        class="d-flex align-items-center justify-content-center my-5"
        *ngIf="pageStatus == 'noData'"
      >
        <app-table-no-data></app-table-no-data>
      </div>
      <div
        class="d-flex align-items-center justify-content-center my-5"
        *ngIf="pageStatus == 'loading'"
      >
        <app-table-loading></app-table-loading>
      </div>
      <div
        class="d-flex align-items-center justify-content-center my-5"
        *ngIf="pageStatus == 'error'"
      >
        <app-table-error
          [retry]="true"
          (errorEvent)="ApplyFilter()"
        ></app-table-error>
      </div>
    </div>
  </div>
  <div
    class="card-body"
    [ngStyle]="{ display: pageStatus == 'loaded' ? 'block' : 'none' }"
  >
    <div class="row">
      <div class="col-md-12 table-responsive">
        <table
          class="table table-striped table-bordered text-center"
          width="100%"
          matSort
          (matSortChange)="OnSortChange($event)"
        >
          <thead>
            <tr>
              <th class="text-start" mat-sort-header="Numero_Dossier">
                Numero de dossier
              </th>
              <th class="text-start" mat-sort-header="Appelant">Appelant</th>
              <th
                class="text-start"
                mat-sort-header="Numero_Jugement_Faisant_Objet_De_Appel"
              >
                Numero jugement faisant objet de Appel
              </th>
              <th class="text-start" mat-sort-header="Emis_en_date_du">
                Emis en date du
              </th>
              <th class="text-start" mat-sort-header="IdCRC">CRC</th>
              <th class="text-start" mat-sort-header="Centre_comptable">
                Centre comptable
              </th>
              <th
                class="text-end"
                style="min-width: 160px; max-width: 160px"
              ></th>
            </tr>
          </thead>
          <tbody class="table-responsive" *ngIf="RecordTotal != 0">
            <tr *ngFor="let item of Data">
              <td class="text-start">{{ item.numero_Dossier }}</td>
              <td class="text-start">{{ item.appelant }}</td>
              <td class="text-start">
                {{ item.numero_Jugement_Faisant_Objet_De_Appel }}
              </td>
              <td class="text-start">{{ item.emis_En_Date_Du }}</td>
              <td class="text-start">{{ item.crc }}</td>
              <td class="text-start">{{ item.centre_Comptable }}</td>
              <td class="text-end">
                <a
                  routerLink="/discipline-budgetaires/detail/{{ item.id }}"
                  class="{{ DetailButtonStyle }} me-1"
                  title="Détail de discipline budgetaire"
                  ><i class="fa fa-eye"> </i
                ></a>
                <a
                  routerLink="/discipline-budgetaires/modifier/{{ item.id }}"
                  class="{{ UpdateButtonStyle }} me-1"
                  title="Modifier la discipline budgetaire"
                  ><i class="fa fa-edit"> </i
                ></a>
                <a
                  routerLink="/discipline-budgetaires/supprimer/{{ item.id }}"
                  class="{{ DeleteButtonStyle }}"
                  title="Supprimer la discipline budgetaire"
                >
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-2">
      <ngb-pagination
        class="col d-flex justify-content-center"
        [collectionSize]="RecordFiltred"
        [pageSize]="pageSize"
        [page]="pageNumber"
        [maxSize]="5"
        (pageChange)="OnPageNumberChange($event)"
      ></ngb-pagination>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="!selectionPageSize">
      <div class="col-auto" *ngIf="RecordFiltred != RecordTotal">
        {{ RecordFiltred }} / <b> {{ RecordTotal }} </b> éléments
      </div>
      <div class="col-auto" *ngIf="RecordFiltred == RecordTotal">
        <b> {{ RecordTotal }} </b> éléments
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="selectionPageSize">
      <div class="col-auto">Afficher</div>
      <div class="col-auto">
        <select
          class="form-select form-control-sm"
          name="pageSize"
          [(ngModel)]="pageSize"
          (ngModelChange)="OnPageSizeChange($event)"
        >
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>
      <span class="col-auto"
        >de <b> {{ RecordFiltred }} </b> elements</span
      >
    </div>
  </div>
</div>

<!-- loader -->
<ngx-spinner type="line-spin-fade">
  <p class="text-light">Chargement en cours...</p>
</ngx-spinner>
