<!-- header -->
<app-page-action-header [icon]="'fa fa-lock'" [title]="'Changer mot de passe'" [titleMobile]="'Chg. mot de passe'">
  <ng-container>
    <app-header-action-button buttonClass="{{ChangePasswordButtonStyle}}" title="Enregistrer les données"
      iconClass="fa fa-save" label="Enregistrer" (clicked)="ChangePassword()"></app-header-action-button>
  </ng-container>
</app-page-action-header>

<div class="row my-3">
  <form [formGroup]="ReactiveForm">
    <div class="card">
      <div class="card-body">
        <div class="col-12 from-group">
          <label>Ancien mot de passe</label>
          <input type="password" class="form-control" formControlName="oldpassword" placeholder="*******" />
          <div class="text-danger"
            *ngIf="ReactiveForm.get('oldpassword')?.touched && ReactiveForm.get('oldpassword')?.errors">
            <div *ngFor="let error of ReactiveForm.get('oldpassword')?.errors | keyvalue">
              {{ validationMessages[error.key] }}
            </div>
          </div>
        </div>
        <div class="col-12 from-group">
          <label>Nouveau mot de passe </label>
          <input type="password" class="form-control" formControlName="newpassword" placeholder="*******" />
          <div class="text-danger"
            *ngIf="ReactiveForm.get('newpassword')?.touched && ReactiveForm.get('newpassword')?.errors">
            <div *ngFor="let error of ReactiveForm.get('newpassword')?.errors | keyvalue">
              {{ validationMessages[error.key] }}
            </div>
          </div>
        </div>
        <div class="col-12 from-group">
          <label>Confirmer nouveau mot de passe</label>
          <input type="password" class="form-control" formControlName="confirmnewpassword" placeholder="*******" />
          <div class="text-danger"
            *ngIf="ReactiveForm.get('confirmnewpassword')?.touched && ReactiveForm.get('confirmnewpassword')?.errors">
            <div *ngFor="let error of ReactiveForm.get('confirmnewpassword')?.errors | keyvalue">
              {{ validationMessages[error.key] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>