<!-- cas when list is valid  -->
<div class="row" *ngIf="!ListHasError">
  <!-- alert -->
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check-circle"></i> le fichier importé avec success
    </div>
  </div>
  <!-- table -->
  <div class="col-md-12 my-3 table-responsive">
    <div class="row">
      <table class="table table-striped table-bordered tableValide" matSort (matSortChange)="OnSortChange($event)">
        <thead>
          <tr>
            <th class="text-start" mat-sort-header="Numero_Dossier">Numéro Dossier</th>
            <th class="text-start" mat-sort-header="Appelant">Appelant</th>
            <th class="text-start" mat-sort-header="Numero_Jugement_Faisant_Objet_De_Appel">Numéro Jugement Faisant
              Objet De Appel</th>
            <th class="text-start" mat-sort-header="Emis_En_Date_Du">Émis En Date Du</th>
            <th class="text-start" mat-sort-header="CRC">CRC</th>
            <th class="text-start" mat-sort-header="Centre_Comptable">Centre Comptable</th>
            <th class="text-start" mat-sort-header="Exercice_fiscal">Exercice Fiscal</th>
            <th class="text-start" mat-sort-header="Date_Enregistrement_Requete_Cour_Regionale_Des_Comptes">Date
              Enregistrement Requête Cour Régionale Des Comptes</th>
            <th class="text-start" mat-sort-header="Conseiller_Rapporteur">Conseiller Rapporteur</th>
            <th class="text-start" mat-sort-header="Date_Ordonnance_Designation_Conseiller_Rapporteur">Date Ordonnance
              Désignation Conseiller Rapporteur</th>
            <th class="text-start" mat-sort-header="Conseiller_Rapporteur_Remplacant">Conseiller Rapporteur Remplaçant
            </th>
            <th class="text-start" mat-sort-header="Date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant">Date
              Ordonnance Désignation Conseiller Rapporteur Remplaçant</th>
            <th class="text-start" mat-sort-header="Date_Demande_Documents_Supplementaires">Date Demande Documents
              Supplémentaires</th>
            <th class="text-start" mat-sort-header="Date_Envoi_Requete_Parties">Date Envoi Requête Parties</th>
            <th class="text-start" mat-sort-header="Parties_Agent_du_Roi_au_CRC">Parties Agent du Roi au CRC</th>
            <th class="text-start" mat-sort-header="Parties_Entrepot_Regional">Parties Entrepôt Régional</th>
            <th class="text-start" mat-sort-header="Parties_Travailleur_du_territoire">Parties Travailleur du Territoire
            </th>
            <th class="text-start" mat-sort-header="Parties_President_de_la_Commune">Parties Président de la Commune
            </th>
            <th class="text-start" mat-sort-header="Date_de_reception_par_les_parties_Agent_du_Roi_au_CRC">Date de
              Réception par les Parties Agent du Roi au CRC</th>
            <th class="text-start" mat-sort-header="Date_de_reception_par_les_parties_Entrepot_Regional">Date de
              Réception par les Parties Entrepôt Régional</th>
            <th class="text-start" mat-sort-header="Date_de_reception_par_les_parties_Travailleur_du_territoire">Date de
              Réception par les Parties Travailleur du Territoire</th>
            <th class="text-start" mat-sort-header="Date_de_reception_par_les_parties_President_de_la_Commune">Date de
              Réception par les Parties Président de la Commune</th>
            <th class="text-start" mat-sort-header="Reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC">Réponse au Mémoire
              d'Appel Agent du Roi au CRC</th>
            <th class="text-start" mat-sort-header="Reponse_au_memoire_d_appel_Entrepot_Regional">Réponse au Mémoire
              d'Appel Entrepôt Régional</th>
            <th class="text-start" mat-sort-header="Reponse_au_memoire_d_appel_Travailleur_du_territoire">Réponse au
              Mémoire d'Appel Travailleur du Territoire</th>
            <th class="text-start" mat-sort-header="Reponse_au_memoire_d_appel_President_de_la_Commune">Réponse au
              Mémoire d'Appel Président de la Commune</th>
            <th class="text-start" mat-sort-header="Date_Preparation_Rapport">Date Préparation Rapport</th>
            <th class="text-start" mat-sort-header="Designation_du_Conseiller_Reviseur">Désignation du Conseiller
              Réviseur</th>
            <th class="text-start" mat-sort-header="Date_Designation_du_Conseiller_Reviseur">Date Désignation du
              Conseiller Réviseur</th>
            <th class="text-start" mat-sort-header="Designation_du_Conseiller_Reviseur_Remplacant">Désignation du
              Conseiller Réviseur Remplaçant</th>
            <th class="text-start" mat-sort-header="Date_Designation_du_Conseiller_Reviseur_Remplacant">Date Désignation
              du Conseiller Réviseur Remplaçant</th>
            <th class="text-start" mat-sort-header="Date_de_preparation_de_l_avis_de_l_examinateur">Date Préparation
              Avis de l'Examinateur</th>
            <th class="text-start" mat-sort-header="Date_Transmission_Dossier_Ministere_Public">Date Transmission
              Dossier Ministère Public</th>
            <th class="text-start" mat-sort-header="Date_Retour_Dossier_Ministere_Public">Date Retour Dossier Ministère
              Public</th>
            <th class="text-start" mat-sort-header="Date_Conclusions_Ministere_Public">Date Conclusions Ministère Public
            </th>
            <th class="text-start" mat-sort-header="Numero_Conclusions_Ministere_Public">Numéro Conclusions Ministère
              Public</th>
            <th class="text-start" mat-sort-header="Date_de_la_session">Date de la Session</th>
            <th class="text-start" mat-sort-header="Dispositif_Decision">Dispositif Décision</th>
            <th class="text-start" mat-sort-header="Numero_Decision">Numéro Décision</th>
            <th class="text-start" mat-sort-header="Date_d_envoi_de_la_decision_pour_notifier_les_parties">Date d'Envoi
              de la Décision pour Notifier les Parties</th>
            <th class="text-start" mat-sort-header="Date_de_reception_par_le_comptable_d_une_copie_de_la_decision">Date
              Réception Comptable Copie Décision</th>
          </tr>
        </thead>
        <tbody *ngIf="RecordTotal != 0">
          <tr *ngFor="let item of Data">
            <td class="text-start">{{ item.numero_Dossier }}</td>
            <td class="text-start">{{ item.appelant }}</td>
            <td class="text-start">
              {{ item.numero_Jugement_Faisant_Objet_De_Appel }}
            </td>
            <td class="text-start">{{ item.emis_En_Date_Du }}</td>
            <td class="text-start">{{ item.crc }}</td>
            <td class="text-start">{{ item.centre_Comptable }}</td>
            <td class="text-start">{{ item.exercice_fiscal }}</td>
            <td class="text-start">
              {{ item.date_Enregistrement_Requete_Cour_Regionale_Des_Comptes }}
            </td>
            <td class="text-start">{{ item.conseiller_Rapporteur }}</td>
            <td class="text-start">
              {{ item.date_Ordonnance_Designation_Conseiller_Rapporteur }}
            </td>
            <td class="text-start">
              {{ item.conseiller_Rapporteur_Remplacant }}
            </td>
            <td class="text-start">
              {{
              item.date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant
              }}
            </td>
            <td class="text-start">
              {{ item.date_Demande_Documents_Supplementaires }}
            </td>
            <td class="text-start">{{ item.date_Envoi_Requete_Parties }}</td>
            <td class="text-start">{{ item.parties_Agent_du_Roi_au_CRC }}</td>
            <td class="text-start">{{ item.parties_Entrepot_Regional }}</td>
            <td class="text-start">
              {{ item.parties_Travailleur_du_territoire }}
            </td>
            <td class="text-start">{{ item.parties_President_de_la_Commune }}</td>
            <td class="text-start">
              {{ item.date_de_reception_par_les_parties_Agent_du_Roi_au_CRC }}
            </td>
            <td class="text-start">
              {{ item.date_de_reception_par_les_parties_Entrepot_Regional }}
            </td>
            <td class="text-start">
              {{
              item.date_de_reception_par_les_parties_Travailleur_du_territoire
              }}
            </td>
            <td class="text-start">
              {{ item.date_de_reception_par_les_parties_President_de_la_Commune }}
            </td>
            <td class="text-start">
              {{ item.reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC }}
            </td>
            <td class="text-start">
              {{ item.reponse_au_memoire_d_appel_Entrepot_Regional }}
            </td>
            <td class="text-start">
              {{ item.reponse_au_memoire_d_appel_Travailleur_du_territoire }}
            </td>
            <td class="text-start">
              {{ item.reponse_au_memoire_d_appel_President_de_la_Commune }}
            </td>
            <td class="text-start">{{ item.date_Preparation_Rapport }}</td>
            <td class="text-start">
              {{ item.designation_du_Conseiller_Reviseur }}
            </td>
            <td class="text-start">
              {{ item.date_Designation_du_Conseiller_Reviseur }}
            </td>
            <td class="text-start">
              {{ item.designation_du_Conseiller_Reviseur_Remplacant }}
            </td>
            <td class="text-start">
              {{ item.date_Designation_du_Conseiller_Reviseur_Remplacant }}
            </td>
            <td class="text-start">
              {{ item.date_de_preparation_de_l_avis_de_l_examinateur }}
            </td>
            <td class="text-start">
              {{ item.date_Transmission_Dossier_Ministere_Public }}
            </td>
            <td class="text-start">
              {{ item.date_Retour_Dossier_Ministere_Public }}
            </td>
            <td class="text-start">
              {{ item.date_Conclusions_Ministere_Public }}
            </td>
            <td class="text-start">
              {{ item.numero_Conclusions_Ministere_Public }}
            </td>
            <td class="text-start">{{ item.date_de_la_session }}</td>
            <td class="text-start">{{ item.dispositif_Decision }}</td>
            <td class="text-start">{{ item.numero_Decision }}</td>
            <td class="text-start">
              {{ item.date_d_envoi_de_la_decision_pour_notifier_les_parties }}
            </td>
            <td class="text-start">
              {{
              item.date_de_reception_par_le_comptable_d_une_copie_de_la_decision
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-2">
      <ngb-pagination class="col d-flex justify-content-center" [collectionSize]="RecordFiltred" [pageSize]="pageSize"
        [page]="pageNumber" [maxSize]="5" (pageChange)="OnPageNumberChange($event)"></ngb-pagination>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="!selectionPageSize">
      <div class="col-auto" *ngIf="RecordFiltred != RecordTotal">
        {{ RecordFiltred }} / <b> {{ RecordTotal }} </b> éléments
      </div>
      <div class="col-auto" *ngIf="RecordFiltred == RecordTotal">
        <b> {{ RecordTotal }} </b> éléments
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="selectionPageSize">
      <div class="col-auto">Afficher</div>
      <div class="col-auto">
        <select class="form-select form-control-sm" name="pageSize" [(ngModel)]="pageSize"
          (ngModelChange)="OnPageSizeChange($event)">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
        </select>
      </div>
      <span class="col-auto">de <b> {{ RecordFiltred }} </b> elements</span>
    </div>
  </div>
  <!-- button -->
  <div class="col-md-12 text-end">
    <button class="btn btn-sm btn-primary me-1" (click)="Previous()">
      <i class="fa fa-arrow-left"></i> Précédent
    </button>
    <button class="btn btn-sm btn-success" (click)="Confirmer()">
      <i class="fa fa-check-circle"></i> Confirmer
    </button>
  </div>
</div>

<!-- cas when list has error -->
<div class="row" *ngIf="ListHasError">
  <!-- alert -->
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle"></i> Des erreurs ont été détectées
      dans le fichier importé. Veuillez consulter les détails ci-dessous.
    </div>
  </div>
  <!-- table -->
  <div class="col-md-12 my-3 table-responsive">
    <table class="table table-striped table-bordered text-center" matSort>
      <thead>
        <tr>
          <th class="text-start" mat-sort-header="rowNumber" style="width: 20%">
            Numéro de colonne
          </th>
          <th class="text-start" mat-sort-header="rowError" style="width: 80%">
            Message d'erreur
          </th>
        </tr>
      </thead>
      <tbody class="table-responsive" *ngIf="RecordTotal != 0">
        <tr *ngFor="let item of Data">
          <td class="text-start">{{ item.rowNumber }}</td>
          <td class="text-start">{{ item.rowError }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button -->
  <div class="col-md-12 text-end">
    <button class="btn btn-sm btn-primary me-1" (click)="Previous()">
      <i class="fa fa-arrow-left"></i> Précédent
    </button>
    <button class="btn btn-sm btn-danger" (click)="DownLoadFileWithErrors()">
      <i class="fa fa-file-excel-o"></i> Télécharger le fichier contenant les
      erreurs
    </button>
  </div>
</div>