<!-- header -->
<app-page-action-header
  [icon]="'fa fa-download'"
  [title]="'Importer'"
  [titleMobile]="'Importer'"
>
  <ng-container>
    <app-header-action-button
      buttonClass="{{ ReturnButtonStyle }} me-2"
      title="Retour"
      iconClass="fa fa-arrow-left"
      label="Retour"
    ></app-header-action-button>

    <app-header-action-button
      buttonClass="{{ ExempleButtonStyle }}"
      title="Ficher d'exemple"
      iconClass="fa fa-eye"
      label="Ficher d'exemple"
    ></app-header-action-button>
  </ng-container>
</app-page-action-header>

<!-- stepper -->
<div class="card my-3">
  <div class="card-body">
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header" role="tablist">
        <div class="step" data-target="#Importation-part">
          <button
            type="button"
            class="step-trigger"
            role="tab"
            aria-controls="Importation-part"
            id="Importation-part-trigger"
          >
            <span class="bs-stepper-circle">
              <i class="fa fa-download"></i>
            </span>
            <span class="bs-stepper-label">Importation</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Validation-part">
          <button
            type="button"
            class="step-trigger"
            [disabled]="ValidationPartIsDisabled"
            role="tab"
            aria-controls="Validation-part"
            id="Validation-part-trigger"
          >
            <span class="bs-stepper-circle">
              <i class="fa fa-list-alt"></i>
            </span>
            <span class="bs-stepper-label">Validation</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Marge-part">
          <button
            type="button"
            class="step-trigger"
            [disabled]="MargePartIsDisabled"
            role="tab"
            aria-controls="Marge-part"
            id="Marge-part-trigger"
          >
            <span class="bs-stepper-circle">
              <i class="fa fa-compress"></i
            ></span>
            <span class="bs-stepper-label">Fusionner</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content my-3">
        <div
          id="Importation-part"
          class="content"
          role="tabpanel"
          aria-labelledby="Importation-part-trigger"
        >
          <app-upload
            (FormIsPassed)="GoToValidation($event)"
          ></app-upload>
        </div>
        <div
          id="Validation-part"
          class="content"
          role="tabpanel"
          aria-labelledby="Validation-part-trigger"
        >
          <app-validation
            *ngIf="!ValidationPartIsDisabled"
            (BtnDownloadListWithErrors)="DownloadListWithErrors()"
            (BtnPrevious)="Previous()"
            (BtnNext)="GoToMarge()"
          ></app-validation>
        </div>
        <div
          id="Marge-part"
          class="content"
          role="tabpanel"
          aria-labelledby="Marge-part-trigger"
        >
          <app-marge
            *ngIf="!MargePartIsDisabled"
            (BtnPrevious)="Previous()"
            (BtnConfirmer)="Confirmer()"
          ></app-marge>
        </div>
      </div>
    </div>
  </div>
</div>
