<!--cas when list is valid  -->
<div class="row" *ngIf="!ListHasError">
  <!-- alert -->
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check-circle"></i> le fichier importé avec success
    </div>
  </div>
  <!-- table -->
  <div class="col-md-12 my-3 table-responsive">
    <table class="table table-striped table-bordered text-center" matSort>
      <thead>
        <tr>
          <th class="text-start" mat-sort-header="numeroDossier">
            Numéro Dossier
          </th>
          <th class="text-start" mat-sort-header="appelant">Appelant</th>
          <th
            class="text-start"
            mat-sort-header="numeroJugementFaisantObjetDeAppel"
          >
            Numéro Jugement Faisant Objet De Appel
          </th>
          <th class="text-start" mat-sort-header="emisEnDateDu">
            Émis En Date Du
          </th>
          <th class="text-start" mat-sort-header="crc">CRC</th>
          <th class="text-start" mat-sort-header="centreComptable">
            Centre Comptable
          </th>
          <th
            class="text-start"
            mat-sort-header="dateEnregistrementRequeteCourRegionaleDesComptes"
          >
            Date Enregistrement Requête Cour Régionale Des Comptes
          </th>
          <th
            class="text-start"
            mat-sort-header="dateRequisitionMinisterePublic"
          >
            Date Réquisition Ministère Public
          </th>
          <th
            class="text-start"
            mat-sort-header="numeroRequisitionMinisterePublic"
          >
            Numéro Réquisition Ministère Public
          </th>
          <th
            class="text-start"
            mat-sort-header="dateOrdonnanceDesignationConseillerRapporteur"
          >
            Date Ordonnance Désignation Conseiller Rapporteur
          </th>
          <th
            class="text-start"
            mat-sort-header="numeroOrdonnanceDesignationConseillerRapporteur"
          >
            Numéro Ordonnance Désignation Conseiller Rapporteur
          </th>
          <th class="text-start" mat-sort-header="conseillerRapporteur">
            Conseiller Rapporteur
          </th>
          <th
            class="text-start"
            mat-sort-header="dateOrdonnanceDesignationConseillerRapporteurRemplacant"
          >
            Date Ordonnance Désignation Conseiller Rapporteur Remplaçant
          </th>
          <th
            class="text-start"
            mat-sort-header="numeroOrdonnanceDesignationConseillerRapporteurRemplacant"
          >
            Numéro Ordonnance Désignation Conseiller Rapporteur Remplaçant
          </th>
          <th
            class="text-start"
            mat-sort-header="conseillerRapporteurRemplacant"
          >
            Conseiller Rapporteur Remplaçant
          </th>
          <th class="text-start" mat-sort-header="dateEnvoiRequeteParties">
            Date Envoi Requête Parties
          </th>
          <th class="text-start" mat-sort-header="partiesAgentDuRoiAuCRC">
            Parties Agent du Roi au CRC
          </th>
          <th class="text-start" mat-sort-header="partiesEntrepotRegional">
            Parties Entrepôt Régional
          </th>
          <th
            class="text-start"
            mat-sort-header="partiesTravailleurDuTerritoire"
          >
            Parties Travailleur du Territoire
          </th>
          <th class="text-start" mat-sort-header="partiesPresidentDeLaCommune">
            Parties Président de la Commune
          </th>
          <th
            class="text-start"
            mat-sort-header="dateDeReceptionParLesPartiesAgentDuRoiAuCRC"
          >
            Date de Réception par les Parties Agent du Roi au CRC
          </th>
          <th
            class="text-start"
            mat-sort-header="dateDeReceptionParLesPartiesEntrepotRegional"
          >
            Date de Réception par les Parties Entrepôt Régional
          </th>
          <th
            class="text-start"
            mat-sort-header="dateDeReceptionParLesPartiesTravailleurDuTerritoire"
          >
            Date de Réception par les Parties Travailleur du Territoire
          </th>
          <th
            class="text-start"
            mat-sort-header="dateDeReceptionParLesPartiesPresidentDeLaCommune"
          >
            Date de Réception par les Parties Président de la Commune
          </th>
          <th
            class="text-start"
            mat-sort-header="reponseAuMemoireDAppelAgentDuRoiAuCRC"
          >
            Réponse au Mémoire d'Appel Agent du Roi au CRC
          </th>
          <th
            class="text-start"
            mat-sort-header="reponseAuMemoireDAppelEntrepotRegional"
          >
            Réponse au Mémoire d'Appel Entrepôt Régional
          </th>
          <th
            class="text-start"
            mat-sort-header="reponseAuMemoireDAppelTravailleurDuTerritoire"
          >
            Réponse au Mémoire d'Appel Travailleur du Territoire
          </th>
          <th
            class="text-start"
            mat-sort-header="reponseAuMemoireDAppelPresidentDeLaCommune"
          >
            Réponse au Mémoire d'Appel Président de la Commune
          </th>
          <th
            class="text-start"
            mat-sort-header="dateDemandeDocumentsSupplementaires"
          >
            Date Demande Documents Supplémentaires
          </th>
          <th
            class="text-start"
            mat-sort-header="dateConvocationInteresseAudience"
          >
            Date Convocation Intéressé Audience
          </th>
          <th class="text-start" mat-sort-header="dateEnqueteSurLeTerrain">
            Date Enquête sur le Terrain
          </th>
          <th class="text-start" mat-sort-header="datePreparationRapport">
            Date Préparation Rapport
          </th>
          <th
            class="text-start"
            mat-sort-header="dateTransmissionDossierMinisterePublic"
          >
            Date Transmission Dossier Ministère Public
          </th>
          <th
            class="text-start"
            mat-sort-header="dateConclusionsMinisterePublic"
          >
            Date Conclusions Ministère Public
          </th>
          <th
            class="text-start"
            mat-sort-header="numeroConclusionsMinisterePublic"
          >
            Numéro Conclusions Ministère Public
          </th>
          <th
            class="text-start"
            mat-sort-header="dateReceptionConvocationInteresseConsultation"
          >
            Date Réception Convocation Intéressé Consultation
          </th>
          <th
            class="text-start"
            mat-sort-header="dateReceptionConvocationAvocatConsultation"
          >
            Date Réception Convocation Avocat Consultation
          </th>
          <th class="text-start" mat-sort-header="dateConsultationInteresse">
            Date Consultation Intéressé
          </th>
          <th class="text-start" mat-sort-header="dateConsultationAvocat">
            Date Consultation Avocat
          </th>
          <th
            class="text-start"
            mat-sort-header="dateRetourDossierGreffeCentral"
          >
            Date Retour Dossier Greffe Central
          </th>
          <th
            class="text-start"
            mat-sort-header="convocationInteresseAudienceJugement"
          >
            Convocation Intéressé Audience Jugement
          </th>
          <th
            class="text-start"
            mat-sort-header="convocationAvocatAudienceJugement"
          >
            Convocation Avocat Audience Jugement
          </th>
          <th class="text-start" mat-sort-header="dateAudienceJugement">
            Date Audience Jugement
          </th>
          <th
            class="text-start"
            mat-sort-header="convocationAvocatPrononceJugement"
          >
            Convocation Avocat Prononcé Jugement
          </th>
          <th
            class="text-start"
            mat-sort-header="convocationInteressePrononceJugement"
          >
            Convocation Intéressé Prononcé Jugement
          </th>
          <th class="text-start" mat-sort-header="dateAudiencePrononceJugement">
            Date Audience Prononcé Jugement
          </th>
          <th class="text-start" mat-sort-header="dispositifDecision">
            Dispositif Décision
          </th>
          <th class="text-start" mat-sort-header="numeroDecision">
            Numéro Décision
          </th>
          <th
            class="text-start"
            mat-sort-header="dateEnvoiDecisionNotificationParties"
          >
            Date Envoi Décision Notification Parties
          </th>
          <th
            class="text-start"
            mat-sort-header="dateReceptionComptableCopieDecision"
          >
            Date Réception Comptable Copie Décision
          </th>
        </tr>
      </thead>
      <tbody *ngIf="RecordTotal != 0">
        <tr *ngFor="let item of Data">
          <td class="text-start">{{ item.numero_Dossier }}</td>
          <td class="text-start">{{ item.appelant }}</td>
          <td class="text-start">
            {{ item.numero_Jugement_Faisant_Objet_De_Appel }}
          </td>
          <td class="text-start">{{ item.emis_En_Date_Du }}</td>
          <td class="text-start">{{ item.crc }}</td>
          <td class="text-start">{{ item.centre_Comptable }}</td>
          <td class="text-start">
            {{ item.date_Enregistrement_Requete_Cour_Regionale_Des_Comptes }}
          </td>
          <td class="text-start">
            {{ item.date_Requisition_Ministere_Public }}
          </td>
          <td class="text-start">
            {{ item.numero_Requisition_Ministere_Public }}
          </td>
          <td class="text-start">
            {{ item.date_Ordonnance_Designation_Conseiller_Rapporteur }}
          </td>
          <td class="text-start">
            {{ item.numero_Ordonnance_Designation_Conseiller_Rapporteur }}
          </td>
          <td class="text-start">{{ item.conseiller_Rapporteur }}</td>
          <td class="text-start">
            {{
              item.date_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant
            }}
          </td>
          <td class="text-start">
            {{
              item.numero_Ordonnance_Designation_Conseiller_Rapporteur_Remplacant
            }}
          </td>
          <td class="text-start">
            {{ item.conseiller_Rapporteur_Remplacant }}
          </td>
          <td class="text-start">{{ item.date_Envoi_Requete_Parties }}</td>
          <td class="text-start">{{ item.parties_Agent_du_Roi_au_CRC }}</td>
          <td class="text-start">{{ item.parties_Entrepot_Regional }}</td>
          <td class="text-start">
            {{ item.parties_Travailleur_du_territoire }}
          </td>
          <td class="text-start">{{ item.parties_President_de_la_Commune }}</td>
          <td class="text-start">
            {{ item.date_de_reception_par_les_parties_Agent_du_Roi_au_CRC }}
          </td>
          <td class="text-start">
            {{ item.date_de_reception_par_les_parties_Entrepot_Regional }}
          </td>
          <td class="text-start">
            {{
              item.date_de_reception_par_les_parties_Travailleur_du_territoire
            }}
          </td>
          <td class="text-start">
            {{ item.date_de_reception_par_les_parties_President_de_la_Commune }}
          </td>
          <td class="text-start">
            {{ item.reponse_au_memoire_d_appel_Agent_du_Roi_au_CRC }}
          </td>
          <td class="text-start">
            {{ item.reponse_au_memoire_d_appel_Entrepot_Regional }}
          </td>
          <td class="text-start">
            {{ item.reponse_au_memoire_d_appel_Travailleur_du_territoire }}
          </td>
          <td class="text-start">
            {{ item.reponse_au_memoire_d_appel_President_de_la_Commune }}
          </td>
          <td class="text-start">
            {{ item.date_Demande_Documents_Supplementaires }}
          </td>
          <td class="text-start">
            {{ item.date_Convocation_Interesse_Audience }}
          </td>
          <td class="text-start">{{ item.date_Enquete_Sur_Le_Terrain }}</td>
          <td class="text-start">{{ item.date_Preparation_Rapport }}</td>
          <td class="text-start">
            {{ item.date_Transmission_Dossier_Ministere_Public }}
          </td>
          <td class="text-start">
            {{ item.date_Conclusions_Ministere_Public }}
          </td>
          <td class="text-start">
            {{ item.numero_Conclusions_Ministere_Public }}
          </td>
          <td class="text-start">
            {{ item.date_Reception_Convocation_Interesse_Consultation }}
          </td>
          <td class="text-start">
            {{ item.date_Reception_Convocation_Avocat_Consultation }}
          </td>
          <td class="text-start">{{ item.date_Consultation_Interesse }}</td>
          <td class="text-start">{{ item.date_Consultation_Avocat }}</td>
          <td class="text-start">
            {{ item.date_Retour_Dossier_Greffe_Central }}
          </td>
          <td class="text-start">
            {{ item.convocation_Interesse_Audience_Jugement }}
          </td>
          <td class="text-start">
            {{ item.convocation_Avocat_Audience_Jugement }}
          </td>
          <td class="text-start">{{ item.date_Audience_Jugement }}</td>
          <td class="text-start">
            {{ item.convocation_Avocat_Prononce_Jugement }}
          </td>
          <td class="text-start">
            {{ item.convocation_Interesse_Prononce_Jugement }}
          </td>
          <td class="text-start">{{ item.date_Audience_Prononce_Jugement }}</td>
          <td class="text-start">{{ item.dispositif_Decision }}</td>
          <td class="text-start">{{ item.numero_Decision }}</td>
          <td class="text-start">
            {{ item.date_Envoi_Decision_Notification_Parties }}
          </td>
          <td class="text-start">
            {{ item.date_Reception_Comptable_Copie_Decision }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button -->
  <div class="col-md-12 text-end">
    <button class="btn btn-sm btn-primary me-1">
      <i class="fa fa-arrow-left"></i> Précédent
    </button>
    <button class="btn btn-sm btn-success">
      <i class="fa fa-arrow-right"></i> Suivant
    </button>
  </div>
</div>

<!-- cas when list has error -->
<div class="row" *ngIf="ListHasError">
  <!-- alert -->
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle"></i> Des erreurs ont été détectées
      dans le fichier importé. Veuillez consulter les détails ci-dessous.
    </div>
  </div>
  <!-- table -->
  <div class="col-md-12 my-3 table-responsive">
    <table class="table table-striped table-bordered text-center" matSort>
      <thead>
        <tr>
          <th class="text-start" mat-sort-header="rowNumber">
            Numéro de column
          </th>
          <th class="text-start" mat-sort-header="rowError">Error Message</th>
        </tr>
      </thead>
      <tbody class="table-responsive" *ngIf="RecordTotal != 0">
        <tr *ngFor="let item of Data">
          <td class="text-start">{{ item.rowNumber }}</td>
          <td class="text-start">{{ item.rowError }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- button -->
  <div class="col-md-12 text-end">
    <button class="btn btn-sm btn-primary me-1">
      <i class="fa fa-arrow-left"></i> Précédent
    </button>
    <button class="btn btn-sm btn-danger">
      <i class="fa fa-file-excel-o"></i> Télécharger le fichier contenant les
      erreurs
    </button>
  </div>
</div>
