<form [formGroup]="ReactiveForm">
  <!-- header -->
  <app-page-action-header [icon]="'fa fa-user'" [title]="title" [titleMobile]="titleMobile">
    <ng-container>
      <app-header-action-button *ngIf="IsAddOrEdit && (features.Create || features.Edit)" buttonClass="btn-primary me-2"
        title="Enregistrer les données" iconClass="fa fa-save" label="Enregistrer"
        (clicked)="Save()"></app-header-action-button>
      <app-header-action-button *ngIf="IsDelete && features.Delete" buttonClass="btn-danger me-2"
        title="Supprimer les données" iconClass="fa fa-trash" label="Enregistrer"
        (clicked)="Delete()"></app-header-action-button>
    </ng-container>
  </app-page-action-header>

  <div class="row my-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="col-md-6">
            <h5 class=""> <i class="fa fa-book"></i> Informations personnelles </h5>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 form-group">
              <label class="my-2" for="Nom">Nom</label>
              <input type="text" placeholder="Nom" class="form-control" id="Nom" formControlName="nom"
                autocomplete="on" />
              <div class="text-danger" *ngIf="ReactiveForm.get('nom')?.touched && ReactiveForm.get('nom')?.errors">
                <div *ngFor="let error of ReactiveForm.get('nom')?.errors | keyvalue">
                  {{ validationMessages[error.key] }}
                </div>
              </div>
            </div>
            <div class="col-md-3 form-group">
              <label class="my-2" for="Prénom">Prénom</label>
              <input type="text" placeholder="Prénom" class="form-control" id="Prénom" formControlName="prenom"
                autocomplete="on" />
              <div class="text-danger"
                *ngIf="ReactiveForm.get('prenom')?.touched && ReactiveForm.get('prenom')?.errors">
                <div *ngFor="let error of ReactiveForm.get('prenom')?.errors | keyvalue">
                  {{ validationMessages[error.key] }}
                </div>
              </div>
            </div>
            <div class="col-md-3 form-group">
              <label class="my-2" for="nomArabe"> اﻻﺳﻢ اﻟﺸﺨﺼﻲ </label>
              <input type="text" placeholder="اﻻﺳﻢ اﻟﺸﺨﺼﻲ " class="form-control" id="nomArabe"
                formControlName="nomArabe" />
            </div>
            <div class="col-md-3 form-group">
              <label class="my-2" for="prenomArabe"> الاسم العائلي </label>
              <input type="text" placeholder="الاسم العائلي" class="form-control" id="prenomArabe"
                formControlName="prenomArabe" />
            </div>
            <div class="col-md-3 form-group">
              <label class="my-2" for="Email">Email</label>
              <input type="text" placeholder="........@...." class="form-control" id="Email" formControlName="email"
                autocomplete="on" />
              <div class="text-danger" *ngIf="ReactiveForm.get('email')?.touched && ReactiveForm.get('email')?.errors">
                <div *ngFor="let error of ReactiveForm.get('email')?.errors | keyvalue">
                  {{ validationMessages[error.key] }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>